/**
 * @author     Dennis Rogers <dennis@drogers.net>
 * @address    www.drogers.net
 * @date       2/3/15
 */

a {cursor: pointer;}
.nav li a { font-weight: bold; font-size:100%; text-transform:lowercase; }
.nav .nav-brand a { cursor: default; color:#000; }
.carousel-inner .item img {display:none;}
.carousel-inner .item {
    background-size:cover;
    background-position: 50% 50%;
}
@media only screen and (min-width:480px){
    .nav li a { font-size:18px; }
    
}
@media only screen and (max-width:770px){
    .nav-justified>li {
        float:left;
    }
    .nav>li>a {
        padding:10px;
    }
}