## 
## @author		Dennis Rogers
## @address		www.drogers.net
## 

## Auth
AuthName "Dev site restricted"
AuthUserFile /var/www/html/dev/.htpasswd
AuthType Basic
require valid-user
Order allow,deny
Allow from 173.20.118.123
Allow from 68.255.220.73
Satisfy any
