## 
## @author		Dennis Rogers
## @address		www.drogers.net
## 

## Auth
AuthType Basic
AuthName "Quit lookin' at me, swan!"
AuthUserFile /var/www/html/admin/.htpasswd
Require valid-user
Order deny,allow
Deny from all
Allow from 173.20.118.123
Satisfy any
